{% extends "base.html" %}
{% block content %}
<div>
<h2>Boards<br><small>A list of your boards</small></h2>
<a href="/accounts/password/change/">Edit Profile</a>
<form action="/issueview/board/show/" method="POST">
<table>
{{form.as_table}}
<tr><td>{%csrf_token%}<input type="submit" value="Add" />
</table>
</form>
<table style="margin-top:10px;" class="table table-striped">
<tr>
<th>Boards</th><th>actions</th>
</tr>
{% for board in boards %}
<tr>
<td><a class="link" href="/issueview/show/{{board.user.username}}/{{board.board}}/">{{board.board}}</a></td><td><a class="btn btn-info" href="/issueview/board/edit/{{board.id}}/">Edit</a> <a class="btn btn-danger" href="/issueview/board/del/{{board.id}}/">Delete</a></td>
</tr>
{% endfor %}
</table>
<h2>Other Boards You Are Part Of</h2>
{% for board in shared %}
<a class="link" href="/issueview/show/{{board.board.user.username}}/{{board.board.board}}/">{{board.board.user.username}}/{{board.board.board}}</a><br>
{% endfor %}
</div>
{% endblock %}
